.json5-editor-wrapper {
  min-height: 200px;
  div,
  textarea {
    outline: none;
  }
  textarea,
  pre {
    min-height: 200px;
  }
  border: 1px solid #e8e8e8;
  max-height: 600px;
  overflow: auto;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #40a9ff;
  }
  &:focus-within {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  }

  .token.punctuation {
    color: #595959;
  }
  .token.string {
    color: #690;
  }
  .token.comment {
    color: #6a737d;
  }
  .token.number,
  .token.boolean,
  .token.keyword {
    color: #905;
  }
  .token.property {
    color: #005cc5;
  }
  .token.property.exist-property {
    text-decoration: line-through;
  }
  pre {
    color: #005cc5;
  }
}
